body{

background:#f5f7fa;

}

.card{

border-radius:16px;

}

.table tbody tr{

transition:.25s;

}

.table tbody tr:hover{

transform:scale(1.01);

background:#f8f9fa;

}

.btn{

border-radius:10px;

}

.navbar-brand{

font-size:22px;

}

table td{

vertical-align:middle;

}

.spinner-border{

width:3rem;

height:3rem;

}

.form-control{

border-radius:10px;

}

.alert{

border-radius:10px;

}